@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700');
.custom-accordion {
  background: #00C85D;
  color: #FFFFFF;
  font-family: 'Sunflower', sans-serif;
  padding-bottom: 2rem;
  margin-bottom: 15px;
}
.custom-accordion > .item {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 30rem;
}
.custom-accordion > .item:last-of-type {
  background: #009344;
  text-align: center;
  border-radius: .5rem;
}
.custom-accordion > .item:last-of-type > .icon {
  color: #FFFFFF;
}
.custom-accordion > .item:nth-of-type(6) {
  padding-bottom: 2rem;
}
.custom-accordion > .item > .icon {
  color: #009344;
  font-size: 2rem;
}
.custom-accordion > .item > .title {
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) and (min-height: 270px) {
  .custom-accordion {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 35px;

  }
  .custom-accordion > .item {
    display: table-cell;
    position: relative;
    height: 100%;
    padding: 2rem 1rem;
    text-align: center;
    transform-origin: 0 50%;
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  }
  .custom-accordion > .item:hover:not(:last-of-type) {
    transform: scaleX(2) translateX(-1px);
    box-shadow: 0 0 3rem #301916;
    background: #00C85D;
    border-color: transparent;
  }
  .custom-accordion > .item:hover + .item {
    opacity: .1;
  }
  .custom-accordion > .item:hover + .item:last-of-type {
    opacity: .1;
    background: #00C85D;
  }
  .custom-accordion > .item:not(:last-of-type) {
    border-right: 1px solid #009344;
  }
  .custom-accordion > .item:last-of-type {
    background: #009344;
    width: 25%;
    border-radius: 0;
  }
  .custom-accordion > .item:last-of-type .heart-icon {
    font-size: 6rem;
  }
  .custom-accordion > .item:hover:last-of-type .heart-icon {
    transform: scale(2);
  }
  .custom-accordion > .item:last-of-type > .title {
    transform: rotate(0) translateX(-50%) translateY(-2.5rem);
    padding: 0;
    text-align: center;
  }
  .custom-accordion > .item:last-of-type > .content {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  .custom-accordion > .item:hover:not(:last-of-type) > .icon {
    transform: scaleX(0.5);
  }
  .custom-accordion > .item:hover:not(:last-of-type) > .title {
    transform: scaleX(0.5) translateX(-50%);
    background: #009344;
    height: 30px;
    text-align: center;
    padding: 0;
  }
  .custom-accordion > .item:hover:not(:last-of-type) > .title > .text {
    transform: translateX(-50%);
    left: 50%;
  }
  .text a{
    color: white;
  }
  .title a{
    color: white;
  }

  .custom-accordion .btn-more-detail {
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .custom-accordion .btn-more-detail:hover {
    background: #fff;
    color: #18d26e;
  }

  .custom-accordion > .item:hover:not(:last-of-type) > .content {
    opacity: 1;
  }
  .custom-accordion > .item > .icon {
    font-weight: 700;
    font-size: 2rem;
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    color: #FFFFFF;
  }
  .custom-accordion > .item > .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1.5rem;
    width: 200%;
    text-align: left;
    transform-origin: 0 50%;
    transform: rotate(-90deg);
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    font-size: 1.2rem;
  }
  .custom-accordion > .item > .title > .text {
    position: absolute;
    left: 2rem;
    bottom: 0;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  }
  .custom-accordion > .item > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scaleX(0.5);
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    opacity: 0;
    padding: 1rem;
    /* pointer-events: none; */
  }
}
.heart-icon {
  color: #CA2E55;
  font-size: 3rem;
  transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
}
